body {                                                          /*ngatur bagian tampilanya */
   height: 100vh;                                               /*mengatur halamanya jd 1 layar*/
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
}

.background video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

h1{
    position: relative;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    margin: auto;                                               /* auto buat jd ditengah(menyesuaikan)*/
    z-index: 99;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

table{                                                          /*keseluruhan tabel*/
    margin-top: 45px;
    position: relative;
    padding: 5px;
    font-size: larger;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    z-index: 99;                                                /*agar tabelnya muncul, ga ketutupan bg*/
    align-items: center;
    justify-content: center;
}

button{                                                         /*ngatur buttonnya*/
    background-color:rgba(240, 248, 255, 0.563);
    border-radius: 20px;
    border-color: rgba(240, 248, 255, 0);
}

th{                                                             /*bagian atas tabel*/
    background-color:rgba(247, 255, 240, 0.252); 
    border-radius: 20px;
    padding: 10px;
}

td{                                                             /*bagian badan table*/
    font-variant: small-caps;  
    padding: 10px;
    border-radius: 20px; 
    background-color:rgba(240, 248, 255, 0.563);              /*ngatur warna*/
}

img{                                                            /*ngatur gambar yg ada di tabel*/
    border-radius: 20px;                                        /*biar lebih melengkung*/
    height: 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
}